In [1]:
import pandas as pd

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Notebook widgets 
from ipywidgets import widgets
from ipywidgets import *
from IPython.display import display,clear_output

In [19]:
df  = pd.read_csv('Data/Cases Reported under Crimes against Women During 2001-2015')

In [20]:
df.head()

,State/UT,Year,Rape,Kidnapping & Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of women,Cruelty by Husband or his Relatives,Importation of Girls from foreign country,Immoral Traffic (P) Act,Dowry Prohibition Act,Indecent Representation of Women(P) Act,Commission of Sati Prevention Act,Total Crimes Against Women
0,Andhra Pradesh,2001,871,765,420,3544,2271,5791,7,1332,551,925,0,16477
1,Arunachal Pradesh,2001,33,55,0,78,3,11,0,0,0,0,0,180
2,Assam,2001,817,1070,59,850,4,1248,0,6,179,10,0,4243
3,Bihar,2001,888,518,859,562,21,1558,83,29,835,3,0,5356
4,Chhattisgarh,2001,959,171,70,1763,161,840,0,12,13,0,0,3989

In [21]:
states = []

In [22]:
states = {'Andhra Pradesh':'AP',
 'Arunachal Pradesh':'AR',
 'Assam':'AS',
 'Bihar':'BR',
 'Chhattisgarh':'CG',
 'Goa':'GA',
 'Gujarat':'GJ',
 'Haryana':'HR',
 'Himachal Pradesh':'HP',
 'Jammu & Kashmir':'JK',
 'Jharkhand':'JH',
 'Karnataka':'KA',
 'Kerala':'KL',
 'Madhya Pradesh':'MP',
 'Maharashtra':'MH',
 'Manipur':'MN',
 'Meghalaya':'ML',
 'Mizoram':'MZ',
 'Nagaland':'NL',
 'Odisha':'OR',
 'Punjab':'PB',
 'Rajasthan':'RJ',
 'Sikkim':'SK',
 'Tamil Nadu':'TN',
 'Tripura':'TR',
 'Uttar Pradesh':'UP',
 'Uttarakhand':'UK',
 'West Bengal':'WB',
 'A & N Islands':'AN',
 'Chandigarh':'CH',
 'D&N Haveli':'DH',
 'Daman & Diu':'DD',
 'Delhi UT':'DL',
 'Lakshadweep':'LD',
 'Puducherry':'PY',
 'Telangana':'TN'}

In [23]:
sf = df

In [24]:
def symbolize(x,states):
     for i in states:
        if(x == i):
            return states[i]

In [25]:
df['Symbol'] = df['State/UT'].apply(lambda x:symbolize(x,states))

In [26]:
df = df.set_index('Symbol')

In [27]:
df.to_csv('Data/crimeAgainstWomeninIndia.csv',)

In [29]:
df.columns

Index(['State/UT', 'Year', 'Rape', 'Kidnapping & Abduction', 'Dowry Deaths',
       'Assault on women with intent to outrage her modesty ',
       'Insult to modesty of women', 'Cruelty by Husband or his Relatives',
       'Importation of Girls from foreign country', 'Immoral Traffic (P) Act',
       'Dowry Prohibition Act', 'Indecent Representation of Women(P) Act',
       'Commission of Sati Prevention Act', 'Total Crimes Against Women'],
      dtype='object')

In [30]:
df = pd.read_csv('Data/crimeAgainstWomeninIndia.csv')

In [31]:
y1 = df['Year'].max()
y2 = y1-1
y3 = y2-1
y4 = y3-1
def pattern(a,b,c):
    if(a == 1):
            if(b == 1):
                if(c==1):return "Higher chances of an increase"
                else:return "Medium chances of an decrease"
            elif(b == 0):
                if(c == 1):return "Medium chances of an increase"      
                else:return "High chances of an decrease"
    elif(a == 0):
            if(b == 0):
                if(c == 0):return "Higher chances of decrease"
                else:return "Lower chances of increase"
            elif(b==1):
                if(c == 0):return "Lower chances of decrease"
                else:return "Higher chances of increase"
x = input('Enter the State/Ut:')
y = input('Enter the crime name:')
x1 = list(df[(df['State/UT']==x) & (df['Year']==y1)][y])
x2 = list(df[(df['State/UT']==x) & (df['Year']==y2)][y])
x3 = list(df[(df['State/UT']==x) & (df['Year']==y3)][y])
x4 = list(df[(df['State/UT']==x) & (df['Year']==y4)][y])
if((x=='Telangana') & (y1 == 2015)):
    s1=0
    s2=0
    if((x1[0] - x2[0]) > 0):
         s3 = 1
    else:
         s3 = 0
else:
    if((x3[0] - x4[0]) > 0):
        s1 = 1
    else:
        s1 = 0
    if((x2[0] - x3[0]) > 0):
         s2 = 1
    else:
         s2 = 0
    if((x1[0] - x2[0]) > 0):
         s3 = 1
    else:
         s3 = 0
    
res = pattern(s1,s2,s3)
print(x+' has '+res+' in '+y+' in the year '+str(y1+1)+' ,considering constant current policies.')

Enter the State/Ut:
Enter the crime name:

KeyError: ''

In [32]:
a = df[df['State/UT']==x]
plt.figure(figsize=(10,6))
sns.lineplot(x=a['Year'],y=a[y],data=a)

NameError: name 'plt' is not defined

In [58]:
df.columns

Index(['Symbol', 'State/UT', 'Year', 'Rape', 'Kidnapping & Abduction',
       'Dowry Deaths', 'Assault on women with intent to outrage her modesty ',
       'Insult to modesty of women', 'Cruelty by Husband or his Relatives',
       'Importation of Girls from foreign country', 'Immoral Traffic (P) Act',
       'Dowry Prohibition Act', 'Indecent Representation of Women(P) Act',
       'Commission of Sati Prevention Act', 'Total Crimes Against Women'],
      dtype='object')

In [59]:
df['Rape'].values.tolist()

[871,
 33,
 817,
 888,
 959,
 12,
 286,
 398,
 124,
 169,
 567,
 293,
 562,
 2851,
 1302,
 20,
 26,
 52,
 17,
 790,
 298,
 1049,
 8,
 423,
 102,
 1958,
 74,
 709,
 3,
 18,
 6,
 0,
 381,
 0,
 9,
 1002,
 38,
 970,
 1040,
 992,
 12,
 267,
 361,
 137,
 192,
 797,
 292,
 499,
 2891,
 1352,
 14,
 38,
 76,
 17,
 691,
 299,
 1051,
 6,
 534,
 108,
 1415,
 89,
 759,
 2,
 18,
 4,
 0,
 403,
 1,
 6,
 946,
 31,
 1095,
 985,
 898,
 31,
 236,
 353,
 126,
 211,
 712,
 321,
 394,
 2738,
 1268,
 18,
 40,
 54,
 14,
 725,
 380,
 1050,
 10,
 557,
 114,
 911,
 107,
 1002,
 2,
 18,
 1,
 5,
 490,
 2,
 2,
 1016,
 42,
 1171,
 1390,
 969,
 37,
 339,
 386,
 153,
 218,
 797,
 291,
 480,
 2875,
 1388,
 31,
 54,
 20,
 18,
 770,
 390,
 1038,
 3,
 618,
 160,
 1397,
 115,
 1475,
 10,
 19,
 7,
 1,
 551,
 0,
 4,
 935,
 35,
 1238,
 1147,
 990,
 20,
 324,
 461,
 141,
 201,
 753,
 343,
 478,
 2921,
 1545,
 25,
 63,
 37,
 17,
 799,
 398,
 993,
 18,
 571,
 162,
 1217,
 133,
 1686,
 4,
 33,
 5,
 2,
 658,
 0,
 6,
 1049,
 37,
 1244,
 1232,
 995,
 21,
 354,
 608,
 113,
 250,
 799,
 400,
 601,
 2900,
 1500,
 40,
 74,
 72,
 23,
 985,
 442,
 1085,
 20,
 457,
 189,
 1314,
 147,
 1731,
 6,
 19,
 6,
 3,
 623,
 0,
 9,
 1070,
 48,
 1437,
 1555,
 982,
 20,
 316,
 488,
 159,
 288,
 855,
 436,
 512,
 3010,
 1451,
 20,
 82,
 83,
 13,
 939,
 519,
 1238,
 24,
 523,
 157,
 1648,
 117,
 2106,
 3,
 22,
 7,
 1,
 598,
 1,
 9,
 1257,
 42,
 1438,
 1302,
 978,
 30,
 374,
 631,
 157,
 219,
 791,
 446,
 568,
 2937,
 1558,
 38,
 88,
 77,
 19,
 1113,
 517,
 1355,
 20,
 573,
 204,
 1871,
 87,
 2263,
 12,
 20,
 6,
 0,
 466,
 2,
 8,
 1188,
 59,
 1631,
 929,
 976,
 47,
 433,
 603,
 183,
 237,
 719,
 509,
 568,
 2998,
 1483,
 31,
 112,
 83,
 22,
 1023,
 511,
 1519,
 18,
 596,
 190,
 1759,
 111,
 2336,
 18,
 29,
 4,
 1,
 469,
 1,
 1,
 1362,
 47,
 1721,
 795,
 1012,
 36,
 408,
 720,
 160,
 245,
 773,
 586,
 634,
 3135,
 1599,
 34,
 149,
 92,
 16,
 1025,
 546,
 1571,
 18,
 686,
 238,
 1563,
 121,
 2311,
 24,
 31,
 3,
 1,
 507,
 0,
 3,
 1442,
 42,
 1700,
 934,
 1053,
 29,
 439,
 733,
 168,
 277,
 784,
 636,
 1132,
 3406,
 1701,
 53,
 130,
 77,
 23,
 1112,
 479,
 1800,
 16,
 677,
 205,
 2042,
 129,
 2363,
 13,
 27,
 4,
 1,
 572,
 0,
 7,
 1341,
 46,
 1716,
 927,
 1034,
 55,
 473,
 668,
 183,
 303,
 812,
 621,
 1019,
 3425,
 1839,
 63,
 164,
 103,
 21,
 1458,
 680,
 2049,
 34,
 737,
 229,
 1963,
 148,
 2046,
 12,
 27,
 3,
 5,
 706,
 0,
 13,
 1635,
 75,
 1937,
 1128,
 1380,
 86,
 732,
 971,
 250,
 378,
 1204,
 1030,
 1221,
 4335,
 3063,
 72,
 183,
 89,
 31,
 1832,
 888,
 3285,
 43,
 923,
 233,
 3050,
 228,
 1685,
 27,
 45,
 5,
 8,
 1636,
 2,
 17,
 961,
 83,
 1980,
 1127,
 1436,
 95,
 841,
 1174,
 283,
 331,
 1050,
 1324,
 1347,
 5076,
 3438,
 75,
 118,
 120,
 30,
 1978,
 981,
 3759,
 47,
 455,
 979,
 239,
 3467,
 270,
 1466,
 32,
 59,
 5,
 2,
 2096,
 1,
 10,
 1027,
 71,
 1733,
 1041,
 1560,
 86,
 503,
 1070,
 244,
 296,
 1053,
 589,
 1256,
 4391,
 4144,
 46,
 93,
 58,
 35,
 2251,
 886,
 3644,
 5,
 421,
 1105,
 213,
 3025,
 283,
 1199,
 36,
 72,
 8,
 5,
 2199,
 0,
 3]

In [60]:
dropindex = df[df['Year']==2015].index

In [61]:
sf = df.drop(dropindex)

In [62]:
sf.to_excel('Data/crime2014.xlsx',index=False)

In [63]:
sf = pd.read_excel('Data/crime2014.xlsx')

In [64]:
sf

,Symbol,State/UT,Year,Rape,Kidnapping & Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of women,Cruelty by Husband or his Relatives,Importation of Girls from foreign country,Immoral Traffic (P) Act,Dowry Prohibition Act,Indecent Representation of Women(P) Act,Commission of Sati Prevention Act,Total Crimes Against Women
0,AP,Andhra Pradesh,2001,871,765,420,3544,2271,5791,7,1332,551,925,0,16477
1,AR,Arunachal Pradesh,2001,33,55,0,78,3,11,0,0,0,0,0,180
2,AS,Assam,2001,817,1070,59,850,4,1248,0,6,179,10,0,4243
3,BR,Bihar,2001,888,518,859,562,21,1558,83,29,835,3,0,5356
4,CG,Chhattisgarh,2001,959,171,70,1763,161,840,0,12,13,0,0,3989
5,GA,Goa,2001,12,6,2,17,7,11,0,28,0,0,0,83
6,GJ,Gujarat,2001,286,857,67,756,111,3667,0,61,0,0,0,5805
7,HR,Haryana,2001,398,297,285,478,401,1513,0,21,0,0,0,3393
8,HP,Himachal Pradesh,2001,124,105,10,310,14,317,0,1,9,0,0,890
9,JK,Jammu & Kashmir,2001,169,504,13,622,288,50,0,7,3,0,0,1656
10,JH,Jharkhand,2001,567,279,217,297,5,484,2,3,375,0,0,2229
11,KA,Karnataka,2001,293,271,220,1665,81,1755,0,1356,361,0,0,6002
12,KL,Kerala,2001,562,97,27,1942,81,2561,0,132,6,42,0,5450
13,MP,Madhya Pradesh,2001,2851,668,609,7063,751,2562,0,15,30,0,0,14549
14,MH,Maharashtra,2001,1302,611,308,2823,1120,6090,1,233,27,9,0,12524
15,MN,Manipur,2001,20,62,0,21,0,5,0,4,0,0,0,112
16,ML,Meghalaya,2001,26,11,0,25,0,4,0,0,0,0,0,66
17,MZ,Mizoram,2001,52,1,0,52,0,16,3,2,0,0,0,126
18,NL,Nagaland,2001,17,6,0,6,0,0,0,1,0,0,0,30
19,OR,Odisha,2001,790,434,294,1655,458,1266,0,24,436,0,0,5357
20,PB,Punjab,2001,298,324,159,372,47,1128,0,32,0,1,0,2361
21,RJ,Rajasthan,2001,1049,2165,376,2878,56,5532,1,68,4,46,0,12175
22,SK,Sikkim,2001,8,2,0,0,14,0,0,0,0,0,0,24
23,TN,Tamil Nadu,2001,423,607,191,1773,1012,815,14,5232,33,11,0,10111
24,TR,Tripura,2001,102,35,16,58,0,227,0,0,0,0,0,438
25,UP,Uttar Pradesh,2001,1958,2879,2211,2870,2575,7365,0,26,340,3,0,20227
26,UK,Uttarakhand,2001,74,126,56,103,84,301,0,0,5,0,0,749
27,WB,West Bengal,2001,709,695,265,954,48,3859,3,31,6,0,0,6570
28,AN,A & N Islands,2001,3,2,0,19,1,9,0,0,0,0,0,34
29,CH,Chandigarh,2001,18,50,3,24,15,36,0,3,0,1,0,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,GJ,Gujarat,2014,841,2187,23,1352,173,5991,0,45,53,0,0,10665
462,HR,Haryana,2014,1174,1922,293,1688,102,3478,0,43,13,1,0,8714
463,HP,Himachal Pradesh,2014,283,227,1,538,60,325,0,5,2,0,0,1441
464,JK,Jammu & Kashmir,2014,331,813,5,1421,237,467,0,1,1,0,0,3276
465,JH,Jharkhand,2014,1050,885,350,440,18,1462,2,11,1538,2,0,5758
466,KA,Karnataka,2014,1324,1457,313,5263,170,3025,0,388,1730,0,0,13670
467,KL,Kerala,2014,1347,143,28,4367,257,4919,0,91,3,11,0,11166
468,MP,Madhya Pradesh,2014,5076,5688,733,9609,429,6451,0,15,113,0,0,28114
469,MH,Maharashtra,2014,3438,2457,279,10001,1575,7696,1,202,39,0,0,25688
470,MN,Manipur,2014,75,121,1,98,0,41,0,0,0,0,0,336
471,ML,Meghalaya,2014,118,38,1,105,54,42,0,3,1,0,0,362
472,MZ,Mizoram,2014,120,3,0,97,29,8,0,0,0,0,0,257
473,NL,Nagaland,2014,30,13,0,16,1,3,0,1,0,0,0,64
474,OR,Odisha,2014,1978,2436,441,5543,379,3114,0,32,646,0,0,14569
475,PB,Punjab,2014,981,1176,90,1113,35,1681,0,63,5,1,0,5145
476,RJ,Rajasthan,2014,3759,4421,408,5999,18,15905,0,78,12,18,0,30618
477,SK,Sikkim,2014,47,12,0,34,3,5,0,0,0,0,0,101
478,TN,Tamil Nadu,2014,455,1502,95,1102,229,2103,0,471,292,4,0,6253
479,TN,Telangana,2014,979,711,289,3188,1142,6369,0,192,563,2,0,13435
480,TR,Tripura,2014,239,102,33,492,11,702,0,0,1,0,0,1580
481,UP,Uttar Pradesh,2014,3467,10626,2469,8605,29,10471,0,37,2133,1,0,37838
482,UK,Uttarakhand,2014,270,275,38,343,4,301,0,19,104,0,0,1354
483,WB,West Bengal,2014,1466,4976,501,5670,543,23278,4,80,1,4,0,36523
484,AN,A & N Islands,2014,32,17,3,41,5,14,0,1,2,0,0,115
485,CH,Chandigarh,2014,59,133,2,87,2,141,0,0,0,0,0,424
486,DH,D&N Haveli,2014,5,7,0,2,1,6,0,0,0,0,0,21
487,DD,Daman & Diu,2014,2,1,0,3,0,1,0,8,0,0,0,15
488,DL,Delhi UT,2014,2096,4034,153,4322,1361,3173,0,8,28,0,0,15175
489,LD,Lakshadweep,2014,1,0,0,1,2,0,0,0,0,0,0,4
490,PY,Puducherry,2014,10,7,1,32,8,4,0,1,0,0,0,63

In [56]:
s15 = pd.read_excel('Data/crime2015.xlsx')

In [57]:
s15

,Symbol,State/UT,Year,Rape,Kidnapping & Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of women,Cruelty by Husband or his Relatives,Importation of Girls from foreign country,Immoral Traffic (P) Act,Dowry Prohibition Act,Indecent Representation of Women(P) Act,Commission of Sati Prevention Act,Total Crimes Against Women
0,AP,Andhra Pradesh,2015,1027,684,174,4616,2200,6121,0,204,303,12,0,15341
1,AR,Arunachal Pradesh,2015,71,128,0,101,2,66,0,2,0,0,0,370
2,AS,Assam,2015,1733,5039,216,4293,111,11225,0,47,95,0,0,22759
3,BR,Bihar,2015,1041,5158,1154,198,96,3792,0,21,1867,0,0,13327
4,CG,Chhattisgarh,2015,1560,1354,89,1868,53,620,0,4,10,0,0,5558
5,GA,Goa,2015,86,70,0,150,34,19,0,3,0,0,0,362
6,GJ,Gujarat,2015,503,1569,12,1164,73,4133,0,35,36,0,0,7525
7,HR,Haryana,2015,1070,2336,243,1886,90,3525,0,44,14,0,0,9208
8,HP,Himachal Pradesh,2015,244,239,2,434,58,226,0,6,0,0,0,1209
9,JK,Jammu & Kashmir,2015,296,1071,6,1343,175,400,0,0,1,0,0,3292
10,JH,Jharkhand,2015,1053,930,267,844,10,1654,0,3,1552,0,0,6313
11,KA,Karnataka,2015,589,1611,254,5112,154,2732,0,420,1541,2,0,12415
12,KL,Kerala,2015,1256,192,8,3987,267,3668,0,135,4,4,0,9521
13,MP,Madhya Pradesh,2015,4391,4547,664,8049,390,5281,0,25,62,1,0,23410
14,MH,Maharashtra,2015,4144,5096,268,11713,1119,7640,0,381,42,0,0,30403
15,MN,Manipur,2015,46,94,0,84,2,39,0,0,0,0,0,265
16,ML,Meghalaya,2015,93,58,1,95,20,44,0,0,0,0,0,311
17,MZ,Mizoram,2015,58,8,0,75,2,9,0,0,0,0,0,152
18,NL,Nagaland,2015,35,30,0,8,9,4,0,3,0,0,0,89
19,OR,Odisha,2015,2251,2587,356,6499,472,3605,0,35,1201,0,0,17006
20,PB,Punjab,2015,886,1253,85,1123,27,1583,0,69,8,1,0,5035
21,RJ,Rajasthan,2015,3644,4167,463,4813,9,14383,0,86,9,9,0,27583
22,SK,Sikkim,2015,5,21,1,21,2,2,0,0,0,0,0,52
23,TN,Tamil Nadu,2015,421,1335,65,1163,20,1900,0,491,333,7,0,5735
24,TN,Telangana,2015,1105,648,262,3608,1288,7329,0,252,2,2,0,14496
25,TR,Tripura,2015,213,120,28,352,6,501,0,2,0,0,0,1222
26,UP,Uttar Pradesh,2015,3025,10135,2335,7885,11,8660,0,33,2766,0,0,34850
27,UK,Uttarakhand,2015,283,336,54,318,12,407,2,18,12,0,0,1442
28,WB,West Bengal,2015,1199,3938,498,5069,455,20163,4,101,4,1,0,31432
29,AN,A & N Islands,2015,36,21,0,57,5,14,0,0,0,0,0,133
30,CH,Chandigarh,2015,72,165,5,76,10,126,0,0,0,0,0,454
31,DH,D&N Haveli,2015,8,9,1,5,0,2,0,0,0,0,0,25
32,DD,Daman & Diu,2015,5,13,0,7,0,3,0,0,0,0,0,28
33,DL,Delhi UT,2015,2199,4301,122,5367,1492,3521,0,3,20,0,0,17025
34,LD,Lakshadweep,2015,0,0,0,6,1,2,0,0,0,0,0,9
35,PY,Puducherry,2015,3,14,1,33,10,4,0,1,12,1,0,79